.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.address-bar {
  /*font-family: cursive;*/
}

.bkg-txt {
  background-color: hsla(360, 100%, 100%, .8);
  border-radius: 10px;
  padding: 1% 1% 1% 1%;
}

.lgt-im {
    opacity: 0.5;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.drk-im {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
